{% extends "blog/base.html" %}
{% block content %}
        <div class="row"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae quis ad perspiciatis sapiente facilis dolores saepe veritatis? Facilis esse, eveniet optio dolore explicabo sit, provident dolor consequatur, placeat suscipit ea.</p></div>
        <h1 >Kontakt  !?</h1>
        <p class="col-sm-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis numquam ex similique nam, quod at sint, quis reprehenderit a voluptatibus sunt laborum. Modi voluptate rerum dolorum ipsam vero quia fuga.</p>
{% endblock content %}